body {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  line-height: 1.5;

  background-color: #8F8176;
  color: #452004;

  width: 980px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 0;
}

main > h2 {
  text-align: center;
  font-size: 25px;
}
